<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Virtual type for Grid Collection - PHẢI dùng SearchResult cho UI Component Listing -->
    <virtualType name="SmileCare\FlashSale\Model\ResourceModel\Deal\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">smilecare_flash_sale</argument>
            <argument name="resourceModel" xsi:type="string">SmileCare\FlashSale\Model\ResourceModel\Deal</argument>
        </arguments>
    </virtualType>

    <!-- Data Provider Registration cho UI Component Listing -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <!-- Listing grid PHẢI dùng Grid\Collection (SearchResult) -->
                <item name="smilecare_flashsale_deal_listing_data_source" xsi:type="string">SmileCare\FlashSale\Model\ResourceModel\Deal\Grid\Collection</item>
                <!-- Form sử dụng custom DataProvider class (SmileCare\FlashSale\Model\Deal\DataProvider) nên KHÔNG cần mapping ở đây -->
            </argument>
        </arguments>
    </type>

    <!-- Inject Backend URL builder cho DealActions -->
    <type name="SmileCare\FlashSale\Ui\Component\Listing\Column\DealActions">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Magento\Backend\Model\UrlInterface</argument>
        </arguments>
    </type>

</config>
