<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/menu.xsd">
    <menu>
        <add id="SmileCare_FlashSale::manager"
             title="Flash Sales"
             module="SmileCare_FlashSale"
             parent="Magento_Backend::marketing"
             sortOrder="50"
             resource="SmileCare_FlashSale::manager"/>

        <add id="SmileCare_FlashSale::deal"
             title="Manage Deals"
             module="SmileCare_FlashSale"
             parent="SmileCare_FlashSale::manager"
             action="flashsale/deal/index"
             sortOrder="10"
             resource="SmileCare_FlashSale::deal"/>
    </menu>
</config>
